.details
  .details__content
    h2.subtitle В заказе 4 товара <span>(2 кг)</span>
    table.table
      tbody
        tr.table__row
          td Цена товара
          td 29 456 &#8381;
        tr.table__row
          td Все скидки
          td -7 732 &#8381;
        tr.table__row
          td Скидка за предоплату
          td -3%
      tfoot
        tr.table__row.table__row--total
          td К оплате:
          td 21072 &#8381;
  .details__footer
    button.btn-reset.details__btn(id="btnCloseMoreInfo", type='button') Закрыть подробности
