footer.footer
  .footer__inner
    button.btn.btn-reset.btn--submit(type='submit' form='form') Оформить и оплатить
    .footer__total
      | Итого к оплате:
      span 21 072 &#8381;
      button.btn.btn-reset.btn--text.footer__btn(id='moreInfo', type='button') Подробнее
